*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  max-width: 1466px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./wp6373788.jpg);
  background-size: cover;
}

main {
  margin: 5% auto;
  display: flex;
  align-items: center;
}

header {
  margin: 0 5rem;
}

.header--txt {
  margin-bottom: 2rem;
  font-size: 5rem;
  font-weight: 300;
}

.txt {
  font-size: 2rem;
  margin: 2rem 0;
  line-height: 1.5;
}

footer {
  display: block;
  text-align: center;
  margin: 1rem;
}

a {
  text-decoration: none;
  color: #a11a62;
}

@media only screen and (max-width: 1025px) {
  main {
    flex-direction: column;
    margin: 8% auto;
  }
  header {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}
